{% assign tskills = site.data.data.tskills %} {% if tskills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ tskills.title }}
  </h2>
 
<div class="skillset">
  {% for skill in tskills.toolset %}
    <div class="item">
      <div class="skill-name">{{ skill.name }}</div>
      <div class="skill-tools">{{ skill.tools }}</div>
    </div>
  {% endfor %}
</div>


  

</section>
<!--//tskills-section-->
{% endif %}
