{% assign tskills = site.data.data.tskills %} {% if tskills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ tskills.title }}
  </h2>
 
<table>
  {% for skill in tskills.toolset %}
    <tr>
      <td><strong>{{ skill.name }}</strong></td>
      <td>{{ skill.tools }}</td>
    </tr>
  {% endfor %}
</table>

  

</section>
<!--//tskills-section-->
{% endif %}
